<section class="publi">

  <p class="publi-text">
    Backed by the best companies and visionaries in crypto
  </p>

  <div class="logos">
    <img src="img/amarillo.jpg" alt="Interchain">
    <img src="img/azul.jpg" alt="Kucoin">
    <img src="img/gris.jpg" alt="NGC">
    <img src="img/verde.jpg" alt="NextGen">
  </div>
  <style>
    .publi {
  padding: 40px;
}

.publi-text {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; /* por si no caben */
}

.logos img {
  height: 20px;
  opacity: 0.6;
  transition: 0.3s;
}
  </style>

</section>
